body{
    margin: 0 auto;
    background: url("/faces/javax.faces.resource/img/fondo.jpg") !important;
}

#formIndex{
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    font-size: 18px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}
#conetent #tipus{
    
    background-color: transparent;
    font-size:20px;
    font-family:Courier;
    margin: 20px 45px 20px 40px;

}

#Descripcion  { 
   font-size:20px;

   border:4px;
   margin: 40px 40px 40px 40px;
   border-style:solid;
   border-color: #b80f22;
   width:300; 
   height:200px;
  }
#conetent h2{
   
   font-family: Arial;
   background-color: transparent ;
   text-shadow: 2px 4px #b80f22 ;
   margin: 20px 40px 20px 40px;
}

#conetent h1{
   
   font-family: Arial;
   background-color: transparent ;
   margin: 40px 40px 40px 40px;
}

#formIndex\:boton{
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    
}