<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.samples.persistence.mybatisimpl.mappers.IniciativaMapper">
    <resultMap type="Iniciativa" id='IniciativaResult'>
        <id property='id' column='id_iniciativas'/>
        <result property='descripcion' column='descripcion'/>
        <result property='fecha' column='fecha'/>
        <result property='estado' column='estado'/>
        <association property='proponente'  column="u_correo" resultMap ="edu.eci.cvds.samples.persistence.mybatisimpl.mappers.UsuarioMapper.UsuarioResult" javaType="Usuario" columnPrefix='u_'> </association>
        <collection property='palabrasClave'   javaType='list' ofType="String" columnPrefix='pa_' >
            <result column="palabra"></result>
        </collection>
    </resultMap>




    <select  parameterType="map" id="consultarIniciativa" resultMap="IniciativaResult">
        SELECT
            i.id_iniciativas,
            i.descripcion,
            i.fecha,
            i.estado,

            u.correo as u_correo,
            u.nombre_usuario as u_nombre_usuario,
            u.nombre as u_nombre,
            u.apellido as u_apellido,
            u.rol as u_rol,
            u.estado as u_estado,
            u.area as u_area,

            pa.palabra as pa_palabra


        FROM iniciativas as i  LEFT JOIN palabras_clave  as pa on i.id_iniciativas=pa.iniciativas_id_iniciativas
        LEFT JOIN usuarios as u ON i.proponentes_usuarios_correo=u.correo
        WHERE i.id_iniciativas=#{idin};
    </select>


    <select  parameterType="map" id="consultarIniciativas" resultMap="IniciativaResult">
        SELECT
            i.id_iniciativas,
            i.descripcion,
            i.fecha,
            i.estado,

            u.correo as u_correo,
            u.nombre_usuario as u_nombre_usuario,
            u.nombre as u_nombre,
            u.apellido as u_apellido,
            u.rol as u_rol,
            u.estado as u_estado,
            u.area as u_area,

            pa.palabra as pa_palabra


        FROM iniciativas as i  LEFT JOIN palabras_clave  as pa on i.id_iniciativas=pa.iniciativas_id_iniciativas
        LEFT JOIN usuarios as u ON i.proponentes_usuarios_correo=u.correo

    </select>

    <insert id="registrarIniciativa" parameterType="map">
        insert into iniciativas values(#{in.id},#{in.descripcion},#{in.fecha},#{in.proponente.correo},#{in.estado});
    </insert>

    <insert id="registrarPalabraClave" parameterType="map">
        insert into palabras_clave values(#{pala},#{inid});
    </insert>

    <update id="updateEstado" parameterType="map">
        update INICIATIVAS set
        estado = #{inest}
        where id_iniciativas= #{inid}
    </update>
        
    
    <select parameterType="map"  id="consultarIniciativasPalabra"  resultMap="IniciativaResult">
        SELECT 
        i.id_iniciativas,
        i.descripcion,
        i.fecha,
        i.estado,

        u.correo as u_correo,
        u.nombre_usuario as u_nombre_usuario,
        u.nombre as u_nombre,
        u.apellido as u_apellido,
        u.rol as u_rol,
        u.estado as u_estado,
        u.area as u_area,
		
	pa.palabra as pa_palabra

        FROM iniciativas as i JOIN  usuarios as u  ON i.proponentes_usuarios_correo=u.correo
        JOIN palabras_clave  as pa on i.id_iniciativas=pa.iniciativas_id_iniciativas
        WHERE i.id_iniciativas IN (
                SELECT

                        ii.id_iniciativas AS iniprueba
        
        		FROM iniciativas as ii   JOIN palabras_clave  as paa on ii.id_iniciativas=paa.iniciativas_id_iniciativas
        		 JOIN  usuarios as uu ON ii.proponentes_usuarios_correo=uu.correo
        		WHERE paa.palabra IN
                        <foreach item="item" index="index" collection="pala"
                            open="(" separator="," close=")">
                            #{item}
                        </foreach>
        
        );

    </select>
</mapper>      
