<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <properties resource="config.properties">
    </properties>
    <typeAliases>
        <typeAlias type="edu.eci.cvds.samples.entities.Usuario" alias="Usuario"/>
        <typeAlias type="edu.eci.cvds.samples.entities.Iniciativa" alias="Iniciativa"/>
        <typeAlias type="edu.eci.cvds.samples.entities.Like" alias="Like"/>

        <typeAlias type="edu.eci.cvds.samples.entities.Area" alias="Area"/>



    </typeAliases>	

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver" />
                <property name="url" value="jdbc:postgresql://ec2-3-211-48-92.compute-1.amazonaws.com:5432/d11282ru7jdu1b?ssl=true&amp;sslfactory=org.postgresql.ssl.NonValidatingFactory"/>
                <property name="username" value="edbwhocsgtsire" />
                <property name="password" value="72ca35b5b827010b7758f3f845be18cce5643a8310b0642c0cbe3e597c12236e" />
            </dataSource>
        </environment>
    </environments>
        
    <mappers>
        <mapper resource="mappers/UsuarioMapper.xml"></mapper>
        <mapper resource="mappers/IniciativaMapper.xml"></mapper>
        <mapper resource="mappers/LikeMapper.xml"></mapper>
    </mappers>

        
</configuration>
