<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- typeAliases -->
    <typeAliases>
        <typeAlias type="edu.eci.cvds.samples.entities.Usuario" alias="Usuario"/>
        <typeAlias type="edu.eci.cvds.samples.entities.Administrador" alias="Administrador"/>
        <typeAlias type="edu.eci.cvds.samples.entities.PersonalPMO" alias="PersonalPMO"/>
        <typeAlias type="edu.eci.cvds.samples.entities.Proponente" alias="Proponente"/>
        <typeAlias type="edu.eci.cvds.samples.entities.Publico" alias="Publico"/>
        <typeAlias type="edu.eci.cvds.samples.entities.Iniciativa" alias="Iniciativa"/>
    </typeAliases>

    <environments default="test">
        <environment id="test">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="org.h2.Driver" />
                <property name="url" value="jdbc:h2:file:./target/db/testdb;MODE=PostgreSQL" />
                <property name="username" value="sa" />
                <property name="password" value="" />
            </dataSource>
        </environment>
    </environments>

    <!-- mappers -->
    <mappers>
        <mapper resource="mappers/UsuarioMapper.xml"></mapper>
        <mapper resource="mappers/AdministradorMapper.xml"></mapper>
        <mapper resource="mappers/PersonalPMOMapper.xml"></mapper>
        <mapper resource="mappers/ProponenteMapper.xml"></mapper>
        <mapper resource="mappers/PublicoMapper.xml"></mapper>
        <mapper resource="mappers/IniciativaMapper.xml"></mapper>
    </mappers>


</configuration>
        © 2020 GitHub, Inc.