
body {
    margin: 0;
    padding: 0;
    background: url(../img/bg.jpg) no-repeat center top;
    background-size: cover;
    font-size: 12pt;
    font-color: red;
}

.Registro{
 margin: 45px;
}

h2 {
    background-color: red;
}

#Agruparform {
    
    color:white;
     margin: 45px;
}

